.buslist{
    overflow-y: auto;
    left: 10%;
    top: 10%;
    position: relative;
    width: 80%;
    height: 75%;
    background: aliceblue;
    text-align: center;
}
.inner{
    position: relative;
    width: 80%;
    left: 10%;
    background-color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}
.one{
    display: flex;
    justify-content: space-between;
}
.p-1{
    width: 200px;
}